body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(images/poker-table-background-green-color_313905-304.avif);
  background-size: cover;
  font-weight: bold;
  color: white;
  align-items: center;
  text-align: center;
}

h1 {
  color: goldenrod;
}

hr {
  display: none;
}

p#message-at-start {
  font-style: italic;
}

div.btns {
  display: flex;
  flex-direction: column;
  align-items: inherit;
}

button {
  background-color: goldenrod;
  color: #016f32;
  width: 150px;
  margin: 5px 5px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
}
